* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
}

:root {
  --Cyan: #2ab2af;
  --BrightYellow: #c0df34;
  --LightGray: #e5eff5;
  --GrayishBlue: #98a6bd;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--LightGray);
    min-height: 100vh;
}

.caixa{
    max-width: 635px;
    margin:  0 auto;
    border-radius: 8px;
    box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
}

.bg-1{
    background: #fff;
    padding: 40px;
}
.bg-2{
    background: var(--Cyan);
    padding: 40px;
    flex: 1;
}

.bg-3{
    background:hsl(179, 62%, 47%);
    padding: 40px;
    flex: 1;
}

.title-join{
    color: var(--Cyan);
    font-size: 1.5rem;
}

.free-day{
    padding-bottom:12px;
    padding-top: 24px;
    color: var(--BrightYellow);
    font-size: 1.125rem;
    font-weight: 700;
}

.aceess{
    font-size: 1rem;
    color: var(--GrayishBlue);
    line-height: 1.5;
}

.flex-item{
    display: flex;
}

.monthly{
    font-size: 1.125rem;
    color: white;
}

.number{
    padding-top:1rem;
    padding-bottom: 4px;
    font-size: 2rem;
    color: white;
    font-weight: 700;
}

.number span{
    font-size: 1rem;
    font-weight: normal;
    opacity: .6;
}

.text-1{
    font-size: 1rem;
    color: white;
    padding-bottom: 26px;
}
.text-2{
    padding-top: 18px;
    font-size: 14px;
    line-height: 1.5;
    color: white;
}

button{
    padding: 15px 89px;
    width: max-content;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    background: var(--BrightYellow);
    cursor: pointer;
    border-radius: 5px;
}


@media(max-width:767px){
    .caixa{
        max-width: 100%;
        padding: 45px 32px;
    }
    .flex-item{
        flex-direction: column;
    }
    .bg-1,.bg-2,.bg-3{
        padding: 28px 24px;
    }
    .title-join{
        font-size: 1.25rem;
    }
    .free-day{
        font-size: 1rem,0;
    }
    .aceess{
        font-size: 0.875rem;
    }
    .monthly{
        font-size: 1.125rem;
    }
    button{
        width: 100%;
    }
}